<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" th:replace="~{master :: layout(_,_,_, ~{::main/content()}, _)}">

      th:replace="~{master :: layout(_, _,_, ~{::body/content()}, _)}">

<head>
    <meta charset="UTF-8">
    <title th:replace>Edit Ticket</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
<body>
<main role="main">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <nav class="h2">
            <span class="notactive"><a th:href="@{/}" role="link">Tickets</a> /</span> <span th:text="${isNew} ? 'New ticket':${ticket.title}" role="heading">title</span>
        </nav>
        <hr role="separator">
    </div>
    <div class="row">
        <form method="post" th:object="${ticket}" th:action="@{'/ticket/'+${ticket.id}+'/setTimeSpent'}" role="form" enctype="multipart/form-data">
            <section class="row" th:fragment="" role="region" aria-label="Ticket Details">
                <article class="col-md-12">
                    <a class="btn btn-sm btn-outline-secondary" th:href="@{'/ticket/'+${ticket.id}+'/edit'}" aria-label="Edit Ticket"><span class="bi bi-pencil"></span> Edit</a>
                    <a class="btn btn-sm btn-outline-danger" th:href="@{'/ticket/'+${ticket.id}+'/delete'}" aria-label="Delete Ticket"><span class="bi bi-trash"></span> Delete</a>
                    <a class="btn btn-sm btn-outline-info" id="watch-button" sec:authorize="isAuthenticated()" aria-label="Watch Ticket"><span class="bi bi-trash">Watch</span></a>
                    <a class="btn btn-sm btn btn-outline-warning" th:href="@{'/ticket/'+${ticket.id}+'/setTimeSpent'}" id="timespent-button" sec:authorize="isAuthenticated()" aria-label="Watch Ticket"><span class="bi bi-trash">Set Time</span></a>
                    <script th:src="@{/javascript/checkWatchingTicket.js}"></script>
                    <script th:src="@{/javascript/addWatchTicket.js}"></script>

                    <hr>
                    <h4 class="pt-3" aria-label="Details">Details</h4>
                    <hr>
                    <div class="row">
                        <div class="col-6 col-md-5">
                            Type: <strong th:text="${ticket.type}" aria-label="Ticket Type">bug</strong>
                        </div>
                        <div class="col-6 col-md-5">
                            Status: <span class="badge bg-primary detail-status" th:text="${ticket.status}" aria-label="Ticket Status">open</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-5">
                            Created: <span th:text="${#dates.format(ticket.creationDate, 'dd/MM/yyyy @ HH:mm')}" aria-label="Ticket Creation Date">January 1, 2014</span>
                        </div>
                        <div class="col-6 col-md-5">
                            Owner: <a href="#" th:text="${ticket.user.username}" aria-label="Ticket Owner">Mark</a>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-5">
                            Due Date: <span th:text="${#dates.format(ticket.due_date, 'dd/MM/yyyy @ HH:mm')}" aria-label="Ticket Due Date">January 1, 2014</span>
                        </div>
                        <div class="col-6 col-md-5">
                            Time Estimated: <span href="#" th:text="${ticket.estimate}" aria-label="Ticket Time Estimated">Mark</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-md-5" role="group">
                            <label for="realtime" class="col-sm-2 col-form-label">Time Spent</label>
                            <div class="col-sm-10">
                                <input type="number" id="realtime" name="realtime" class="form-control" aria-label="Time Spent">
                            </div>
                        </div>
                    </div>
                    <h4 class="pt-3" aria-label="Description">Description</h4>
                    <hr>
                    <p th:text="${ticket.description}" class="detail-description" aria-label="Ticket Description">Description ticket</p>
                    <h4 class="pt-3" aria-label="Attachment">Attachment</h4>
                    <hr>
                    <p th:if="${ticket.attachment == null}" aria-label="No Attachment Message">There's no attachment for this ticket</p>
                    <p th:if="${ticket.attachment != null}">
                        <a th:href="@{'/ticket/'+${ticket.id}+'/attachment'}" id="file" name="file" target="_blank" th:text="${ticket.attachment.name}" aria-label="Attachment Name"></a> (
                        <span th:text="${ticket.attachment.contentType}" aria-label="Attachment Type"></span>) <span th:text="${ticket.attachment.readeableSize}" aria-label="Attachment Size"></span>
                    </p>
                </article>
            </section>
            <hr role="separator">
            <input class="btn btn-primary offset-sm-2" type="submit" th:value="${isNew} ? 'Create ticket':'Update ticket'" role="button" aria-label="Submit Ticket">
            <a th:href="@{/}" class="btn btn-secondary" role="link" aria-label="Cancel">Cancel</a>
        </form>
    </div>
</main>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>